
.News-item {
    list-style-type: none;
    width: 300px;
    height: 400px;
    overflow-y: auto;
    background-color: brown;
    margin-bottom: 20px;
    border-radius: 8px;
    
  }

.News-item h3{
    color: rgb(180, 186, 167);
    font-family:Arial, Helvetica, sans-serif;
    font-weight:  solid 200;
    margin: 5px;
    padding: 5px;
    
}
.News-item p{
    color: yellowgreen;
}

.News-item  a {
    color: rgb(211, 201, 194);
}
